@import 'modulos/normalize';
@import 'modulos/utilidades';
@import 'modulos/header';
@import 'modulos/mainInicio';
@import 'modulos/section';
@import 'modulos/aside';
@import 'modulos/3DSkybox';
@import 'modulos/mediaqueries';
@import 'modulos/footer';
@import 'modulos/social';

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/Fondo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

@include mobile3 {}


a {
  text-decoration: none;
}



.table>:not(caption)>*>* {
  padding: .5rem .5rem;
  background-color: rgba(0, 0, 0, 0.774);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

/*                       :::!~!!!!!:.
                  .xUHWH!! !!?M88WHX:.
                .X#M@$!!  !X!M$$$$$$WWx:.
               :!!!!!!?H! :!$!$$$$$$$$$$8X:
              !!~  ~:~!! :~!$!#$$$$$$$$$$8X:
             :!~::!H!<   ~.U$X!?R$$$$$$$$MM!
             ~!~!!!! .:XW$$$U!!?$$$$$$RMM!
               !:~ .:!M"T#$$$$WX??#MRRMMM!
               ~?WuxiW   "#$$$$8!!!!??!!!
             :X- M$$$$       "T#$T~!8$WUXU~
            :%  ~#$$$m:        ~!~ ?$$$$$$    sale counter?
          :!.-   ~T$$$$8xx.  .xWW- ~""##"
.....   -:< !    ~?T#$$@@W@?$$      /
W$@@M!!! .! !!     .:XUW$W!~ "~:    :
#".:x%!!  !H:   !WM$$$$Ti.: .!WUn+!
:::~:!!:X~ .: ?H.!u "$$$B$$$!W:U!T$$M~
.   :X@!.-~   ?@WTWo("$$$W$TH$! `
Wi.~!X$?!-~    : ?$$$B$Wu("$RM!
$R@i.~~ !     :   ~$$$$$B$$en:``
?MXT@Wx.~    :     ~"##$$$$M~
*/