.skyboxsection3D {
    &__imagen {
        width: 577px;
        height: 316px;
    }

    &__title {
        display: flex;
        justify-content: center;

        &--subtitle {
            flex-flow: wrap;
        } 
    }

}