@import 'mediaqueries';

/*============================= ASIDE INDEX =============================*/
aside {
    color: white;
    border: 2px solid black;
    padding: 10px;
    background: rgba(36, 36, 58, 0.938);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-left: 7.5px;

    h3 {
        display: flex;
        justify-content: center;
    }

    div {
        overflow: hidden;
        width: 100%;
        border: 1px solid black;
    }

    img {
        width: 100%;
        object-fit: cover;
        transition: 0.3s;
    }

    img:hover {
        transform: scale(1.10);
    }

    @include tablet {
        display: none;
    }

    @include mobile2 {
        display: none;
    }
}


/*============================= ASIDE guias =============================*/

.asideGuias div {
    overflow: hidden;
    width: 100%;
    border: 1px solid black;
}

.asideGuias img:hover {
    transform: scale(1.10);
}

.asideGuias img {
    width: 362px;
    height: 150px;
    object-fit: cover;
    transition: 0.3s;
}