@import 'mediaqueries';

h1 {
    font-family: Trattatello, fantasy;
    color: white;
    padding-top: 15px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.61);
    font-size: 2.5rem;
    margin: 0.3rem;
}

h4 {
    color: white;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.61);
}

h3 {
    font-family: Trattatello, fantasy;
}

h5 {
    font-family: Trattatello, fantasy;
}

h6 {
    font-family: Trattatello, fantasy;
}


.titulo {
    justify-items: center;
}

header {
    text-align: center;
}

/*============================= NAV ===========================*/

.menu,
.iconos {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0 1rem !important;
}


nav {
    display: flex;
    justify-content: space-between;
    background: rgb(36, 36, 58, 0.959);
    margin-bottom: 15px;
    border: 2px solid black;
    border-radius: 3px;
    margin-right: -15px;

    .menu {
        padding: 0 !important;

        li {
            display: flex;
            font-size: 20px;
            width: 100%;
            height: 100%;
            align-items: center;
            transition: 0.3s;

            &:hover {
                background: white;
                color: black;

                a {
                    color: black;
                }
            }

            a {

                padding: 1rem;
                color: white;
            }

        }
    }

    .iconos {
        margin: 1rem;

        gap: 1rem;

        li {
            &:hover {

                a {
                    color: black;
                }
            }

            a {
                color: white;
            }
        }
    }

    @include tablet {
        nav{
            margin-right: 0px;
            ul.iconos {
                display: none;
            }
        }
        .menu {
            .iconos {
                display: none;
            }
        }
    }

    @include mobile2 {
        .menu {
            flex-direction: column;

        }
    }

}

.bi-twitter {
    width: 1.3rem;
    height: 1.3rem;
}

.bi-steam {
    width: 1.3rem;
    height: 1.3rem;
}

.bi-youtube {
    width: 1.3rem;
    height: 1.3rem;
}

.bi-github {
    width: 1.3rem;
    height: 1.3rem;
}