@import "mediaqueries";

/*============================= SECTION GLOBAL ===========================*/

section {
  background: #ffffffcb;
  padding: 1rem;
  border-radius: 3px;
  border: 2px solid black;
  margin-bottom: 15px;
  margin-right: 7.5px;
  //   box-shadow: 0px -1px 48px 2px rgba(0, 0, 0, 0.75);
  //   -webkit-box-shadow: 0px -1px 48px 2px rgba(0, 0, 0, 0.75);
  //   -moz-box-shadow: 0px -1px 48px 2px rgba(0, 0, 0, 0.75);

  .bienvenidoIndex {
    text-align: center;
  }

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 1.1rem;
  }

  .index__imagenes {
    display: flex;
    justify-content: center;
    width: 100%;

    &--img {
      border: 2px solid black;
      width: 85%;
      object-fit: cover;
      box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.596);
    }
  }

  .nukeEjemplo {
    text-align: center;
  }
}

/*============================= SECTION HAMMER ===========================*/

.guias {
  &__hammerIndex {
    text-align: center;
  }

  &__soloCSGO {
    &--Subtitulo {
      display: flex;
      justify-content: center;
      font-size: 25px;
    }

    &--lista {
      &--renglon {
        font-family: Trattatello, fantasy;
      }
    }
  }

  &__sourceLogo {
    display: flex;
    justify-content: center;
    width: 100%;

    &--img {
      width: 90%;
      object-fit: cover;
    }
  }

  /*============================= LISTA BASICA ===========================*/

  &__lista {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__basico {
    display: flex;
    flex-direction: column;
    background-image: url(../img/basicoFondo.png);
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.596);
    border-radius: 3px;
    border: 2px solid black;
    padding: 1rem;
    width: 95%;
    &--sdk {
      p {
        display: flex;
        justify-content: center;
        padding-left: 1rem;
      }
      display: flex;
    }
    li {
      list-style: none;
    }
    p {
      padding-top: 1rem;
    }
    a {
      display: flex;
      align-content: center;
      background-color: rgba(255, 255, 255, 0.438);
      border-radius: 3px;
      padding: 1rem;
      padding-bottom: 6px;
      &:hover {
        background-color: rgb(255, 255, 255);
        h5 {
          color: black;
        }
      }
    }

    &--skybox {
      p {
        padding-left: 1rem;
      }
      display: flex;
    }
    &--compilacion {
      p {
        padding-left: 1rem;
      }
      display: flex;
    }

    h3,
    h5,
    p {
      color: white;
      text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.61);
      transition: 0.3s;
    }
  }

  /*============================= LISTA NORMAL ===========================*/

  &__normal {
    display: flex;
    flex-direction: column;
    background-image: url(../img/fondoNormal.jpg);
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.596);
    border-radius: 3px;
    border: 2px solid black;
    padding: 1rem;
    width: 95%;
    &--iluminacion {
      p {
        padding-left: 1rem;
      }
      display: flex;
    }
    li {
      list-style: none;
    }
    p {
      display: flex;
      justify-content: center;
      padding-top: 1rem;
    }
    a {
      display: flex;
      align-content: center;
      background-color: rgba(0, 0, 0, 0.452);
      border-radius: 3px;
      padding: 1rem;
      padding-bottom: 6px;
      &:hover {
        background-color: rgb(255, 255, 255);
        h5 {
          color: black;
        }
      }
    }

    &--sonidos {
      p {
        padding-left: 1rem;
      }
      display: flex;
    }

    &--displacements {
      p {
        padding-left: 1rem;
      }
      display: flex;
    }

    h3,
    h5,
    p {
      color: white;
      text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.61);
      transition: 0.3s;
    }
  }

  /*============================= LISTA AVANZADA ===========================*/

  &__avanzado {
    display: flex;
    flex-direction: column;
    background-image: url(../img/fondoAvanzado.jpg);
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.596);
    border-radius: 3px;
    border: 2px solid black;
    padding: 1rem;
    width: 95%;
    &--skybox3d {
      p {
        padding-left: 1rem;
      }
      display: flex;
    }
    li {
      list-style: none;
    }
    p {
      display: flex;
      justify-content: center;
      padding-top: 1rem;
    }
    a {
      display: flex;
      align-content: center;
      background-color: rgba(0, 0, 0, 0.452);
      border-radius: 3px;
      padding: 1rem;
      padding-bottom: 6px;
      &:hover {
        background-color: rgb(255, 255, 255);
        h5 {
          color: black;
        }
      }
    }

    &--cubemaps {
      p {
        padding-left: 1rem;
      }
      display: flex;
    }

    &--optimizacion {
      p {
        padding-left: 1rem;
      }
      display: flex;
    }

    h3,
    h5,
    p {
      color: white;
      text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.61);
      transition: 0.3s;
    }
  }
}

/*============================= SECTION MAPAS ===========================*/

.mapas {
  &__workshopTitulo {
    text-align: center;
  }

  &__contenidoWorkshop {
    text-align: center;
  }

  &__workshop {
    a {
      display: flex;
      justify-content: center;
    }

    transition: 0.3s;
    width: 100%;

    &--img {
      border: 2px solid black;
      width: 90%;
      object-fit: cover;
      transition: 0.3s;
      box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.596);
    }

    &:hover {
      transform: scale(1.03);
    }
  }

  .h2Mapa h3 {
    display: flex;
    justify-content: center;
  }

  .contenidoWorkshop {
    text-align: center;
  }
}

/*============================= SECTION SDK ===========================*/

.mainsdk {
  img {
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.596);
  }
  &__h2SDK {
    display: grid;
    justify-content: center;
  }

  &__SDKgif1 {
    text-align: center;

    img {
      border: 2px solid black;
      object-fit: cover;
      width: 60%;
    }
  }

  &__SDKimg1 {
    text-align: center;
    padding: auto;

    img {
      border: 2px solid black;
      width: 70%;
      object-fit: cover;
    }
  }

  &__SDKimg2 {
    text-align: center;

    img {
      width: 85%;
      object-fit: cover;
      border: 2px solid black;
    }
  }
}
/*============================= SECTION SKYBOX ===========================*/

.skyboxsection {
  img {
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.596);
  }
  h3 {
    text-align: center;
  }
  .CENTRATE {
    display: flex;
    justify-content: center;
  }
  &__imagen {
    display: flex;
    justify-content: center;
    &--brush {
      display: flex;
      flex-direction: row;

      border: 2px solid black;
      width: 90%;
    }
    &--brush1 {
      width: 45%;
    }
    &--brush2 {
      width: 55%;
    }
    img {
      display: flex;
      border: 2px solid black;
      object-fit: cover;
      box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.596);
    }
    &--texturas {
      width: 90%;
    }
    &--propiedades {
      width: 90%;
    }
  }
}

/*============================= SECTION COMPILACION ===========================*/

.sectionCompilacion {
  .resultado {
    display: flex;
    flex-direction: row;
    justify-content: center;
    p {
      padding-top: 6px;
      margin-left: 10px;
    }
  }
  h3 {
    text-align: center;
  }
  &__imagen {
    text-align: center;
    img {
      border: 2px solid black;
      object-fit: cover;
      box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.596);
    }
    &--guardar {
      width: 60%;
    }
    &--configurar {
      width: 60%;
    }
    &--final {
      width: 95%;
    }
  }
}

/*============================= SECTION ILUMINACION ===========================*/

.sectionLight {
  h3 {
    text-align: center;
  }

  &__ejemplo {
    text-align: center;
    img {
      width: 90%;
      border: 2px solid black;
      object-fit: cover;
      box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.596);
    }
  }
  &__light {
    display: flex;
    flex-direction: row;
    img {
      float: left;
      object-fit: cover;
    }
  }
}

/*============================= SECTION PROPS ===========================*/

.sectionProps {
  img {
    display: flex;
    border: 2px solid black;
    object-fit: cover;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.596);
  }
  &__titulo {
    text-align: center;
  }
  .CENTRATE {
    display: flex;
    justify-content: center;
    height: 40%;
  }
  &__imagen {
    display: flex;
    justify-content: center;
    object-fit: cover;
    &--pasos {
      display: flex;
      flex-direction: row;
      width: 90%;
    }
    &--paso1 {
      width: 45%;
    }
    &--paso2 {
      width: 55%;
    }
    &--browser1 {
      width: 90%;
    }
    &--browser2 {
      width: 90%;
    }
  }
}

/*============================= SECTION OPTIMIZACION ===========================*/

.sectionOptimizacion {
  &__titulo {
    text-align: center;
  }

  &__ejemplo {
    text-align: center;
    img {
      width: 90%;
      border: 2px solid black;
      object-fit: cover;
      box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.596);
    }
  }
  &__explicacion {
    display: flex;
    flex-direction: row;
    img {
      float: left;
      object-fit: cover;
      margin-right: 10px;
    }
  }
}

/*============================= SECTION SONIDOS ===========================*/

.sectionSonidos {
  &__iframe {
    display: flex;
    flex-direction: column;
    align-items: center;
    iframe {
      width: 90%;
      height: 400px;
      border: 2px solid black;
      box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.596);
      object-fit: cover;
    }
  }
  &__titulo {
    text-align: center;
  }

  &__ejemplo {
    text-align: center;
    img {
      width: 90%;
      border: 2px solid black;
      object-fit: cover;
      box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.596);
    }
  }
  &__explicacion {
    display: flex;
    flex-direction: row;
    img {
      float: left;
      object-fit: cover;
      margin-right: 10px;
    }
  }
}

/*============================= SECTION ENTIDADES ===========================*/

.sectionEntidades {
  h3 {
    text-align: center;
  }
  &__ejemplos {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      object-fit: cover;
      box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.596);
      border: 2px solid black;
    }
    &--ejemplo1 {
      width: 50%;
      margin-bottom: 20px;
    }
    &--ejemplo2 {
      width: 70%;
    }
  }

  &__ejemplo {
    text-align: center;

    img {
      width: 90%;
      border: 2px solid black;
      object-fit: cover;
      box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.596);
    }
  }
  &__light {
    display: flex;
    flex-direction: row;
    img {
      float: left;
      object-fit: cover;
    }
  }
}

/*============================= MEDIA QUERIES ===========================*/

@include tablet {
  section {
    & > * {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    & > * {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
  .social {
    display: none;
  }
  .sectionProps {
    .CENTRATE {
      display: none;
    }
    &__imagen {
      &--pasos {
        display: none;
      }
    }
  }
  .sectionSonidos {
    &__iframe {
      iframe {
        height: 200px;
      }
    }
  }
}
@include boostrap {
  section {
    border-radius: 0;
    border: none;
    margin-left: none;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    & > * {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}

@include mobile {
  .sectionSonidos {
    &__iframe {
      iframe {
        height: 350px;
      }
    }
  }
}
@include mobile2 {
  .sectionSonidos {
    &__iframe {
      iframe {
        height: 200px;
      }
    }
  }
}
@include mobile3 {
  .mainsdk {
    img {
      width: 90%;
      object-fit: cover;
    }
  }
  .sectionCompilacion {
    &__imagen {
      &--guardar {
        width: 90%;
      }
      &--configurar {
        width: 90%;
      }
      &--final {
        width: 95%;
      }
    }
  }

  .guias {
    &__basico {
      align-items: center;
      &--sdk {
        a {
          text-align: center;
        }

        p {
          display: none;
        }
        display: flex;
        flex-direction: column;
      }
      &--skybox {
        margin: 5px;
        p {
          display: none;
        }
        display: flex;
        flex-direction: column;
      }
      &--compilacion {
        p {
          display: none;
        }
        display: flex;
        flex-direction: column;
      }
    }

    &__normal {
      align-items: center;
      &--iluminacion {
        a {
          text-align: center;
        }

        p {
          display: none;
        }
        display: flex;
        flex-direction: column;
      }
      &--sonidos {
        margin: 5px;
        p {
          display: none;
        }
        display: flex;
        flex-direction: column;
      }
      &--displacements {
        p {
          display: none;
        }
        display: flex;
        flex-direction: column;
      }
    }
    &__avanzado {
      align-items: center;
      &--skybox3d {
        a {
          text-align: center;
        }

        p {
          display: none;
        }
        display: flex;
        flex-direction: column;
      }
      &--cubemaps {
        margin: 5px;
        p {
          display: none;
        }
        display: flex;
        flex-direction: column;
      }
      &--optimizacion {
        p {
          display: none;
        }
        display: flex;
        flex-direction: column;
      }
    }
  }
}
