@each $var, $color in $social {
  .social {
    position: fixed;
    left: 5%;
    top: 200px;
    z-index: 2000;

    ul {
      list-style: none;

      .fa-#{$var} {
        color: white;

        &:hover {
          background-color: $color;
        }
      }

      a {
        display: inline-block;
        color: white;
        padding: 15px 5px;
        text-decoration: none;
        transition: all 500ms ease;
        font-size: 30px;
        &:hover {
          padding: 20px 20px;
          left: 20px;
        }
      }
    }
  }
}
@include tablet {
  .social {
    display: none;
  }
}
