$social: ("twitter": rgb(5, 226, 255),
    "steam": rgb(1, 31, 133),
    "youtube": rgb(134, 0, 0),
    "github": rgb(0, 0, 0),
);

$shadows:("shadow1": inset 0 0 1rem black,
    "shadow2": inset 0 0 2rem black,
    "shadow3": inset 0 0 5rem black,
);

@each $sombras,
$valores in $shadows {
    .#{$sombras} {
        box-shadow: $valores;
    }
}